body{
    color:black;
    width: 1000px;
    margin: auto;
    padding: auto;
    background-color: white;
}

header{
    border: 1px solid rgb(58, 77, 128);
    text-align: center;
    background-color: #5382b4;
}

nav{
    border: 1px solid rgb(58, 77, 128);
    background-color: #a2c1e4;
}

aside{
    width: 40%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(58, 77, 128);
    background-color: #a2c1e4;
}

article{
    text-align: center;
    width: auto;
    border: 1px solid rgb(58, 77, 128);
    display: inline;
    background-color: #a2c1e4;
}

footer{
    border: 1px solid rgb(58, 77, 128);
    width: 100%;
    clear: both;
    text-align: center;
    background-color: #a2c1e4;
}

  
h1 {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  
nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
nav li {
    text-align: center;
    border: 1px solid rgb(58, 77, 128);
    padding: 10px;
    background-color: rgb(58, 77, 128);
  }
  
nav li:hover {
    background-color: rgb(97, 128, 214);
  }
